// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  font-family: 'Work Sans', sans-serif;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Work Sans', sans-serif;
}


#centering-title {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  padding-bottom: 50px;
  padding-top: 30px;
  text-align: center;

  color: #000000;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.card-product p {
  font-size: 16px;
  }

.card-product h2 {
  font-size: 20px;
color: #0072CE;
  }

.card-product h2:hover {
  color: #41B6E6;
  text-decoration: none;
}
.btn-primary {
  background-color: #0072CE;
  border-color: #0072CE;
}
.btn-primary:hover {
  background-color: #41B6E6;
  border-color: #41B6E6;
}
a:hover {
  text-decoration: none;
}
.btn-secondary {
  background-color: #0072CE;
  border-color: #0072CE;
}
.btn-secondary:hover {
  background-color: #41B6E6;
  border-color: #41B6E6;
}
.btn{
  background-color: #0072CE;
  border-color: #0072CE;
  color: white;
}
.btn:hover{
  background-color: #41B6E6;
  border-color: #41B6E6;
  color: white;
}

.dropdown-item:hover{
  background-color: #41B6E6;
  border-color: #41B6E6;
  color: white;
}

#bed_photo {
  background-color: #F4F4F4;
  border-color: #F4F4F4;
  color: black;
}
.booking-form.bg-white.pb-4 {
  width:300px;
  margin-left: 182px;
  padding-top: 16px;

}
#centering-title {
  font-family:'Work Sans', sans-serif;
}
