<div class="container">
  <h1 class="text-center m-4">Edit your booking</h1>
  <p class="text-center m-4">Fill out the form below to edit your booking</p>
  <div class="d-flex justify-content-center mt-5">
    <div class="w-50">
      <%= render "shared/booking_form" %>
    </div>
  </div>
</div>
