<div class="container w-75">
  <ul class="list-group">
    <% @bookings.each do |booking| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= booking.bed.category %>
         <div class="btn btn-primary">
              <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are You Sure" }, :class => "btn" %>
            </div>
            <div class="btn btn-primary">
                <%= link_to "Edit", edit_bed_booking_path(booking.bed, booking), :class => "btn" %>
              </div>
        <span class="badge badge-primary badge-pill"><%= booking.start_date %></span>
      </li>
    <% end %>
  </ul>
</div>
