<div class="row">
    <div class="card" style="width: 18rem;">
      <img src="https://images.unsplash.com/photo-1519494080410-f9aa76cb4283?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hospital Name</h5>
        <p class="card-text">Category</p>
        <a href="" class="btn btn-primary">Book</a>
    </div>
  </div>
    <div class="card" style="width: 18rem;">
      <img src="https://images.unsplash.com/photo-1519494080410-f9aa76cb4283?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" class="card-img-top" alt="...">
      <div class="card-body">
       <h5 class="card-title">Hospital Name</h5>
       <p class="card-text">Category</p>
       <a href="" class="btn btn-primary">Book</a>
    </div>
  </div>
    <div class="card" style="width: 18rem;">
      <img src="https://images.unsplash.com/photo-1519494080410-f9aa76cb4283?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hospital Name</h5>
        <p class="card-text">Category</p>
        <a href="" class="btn btn-primary">Book</a>
    </div>
  </div>
    <div class="card" style="width: 18rem;">
      <img src="https://images.unsplash.com/photo-1519494080410-f9aa76cb4283?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hospital Name</h5>
        <p class="card-text">Category</p>
        <a href="" class="btn btn-primary">Book</a>
    </div>
  </div>
</div>
