<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://www.weymouthstreethospital.com/wp-content/uploads/sites/2/2019/05/room1-1024x683.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hospital Name</h5>
      <p class="card-text">Hospital Description</p>
      <p class="card-text"><small class="text-muted">Category</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.weymouthstreethospital.com/wp-content/uploads/sites/2/2019/05/room1-1024x683.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hospital Name</h5>
      <p class="card-text">Hospital Description</p>
      <p class="card-text"><small class="text-muted">Category</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.weymouthstreethospital.com/wp-content/uploads/sites/2/2019/05/room1-1024x683.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hospital Name</h5>
      <p class="card-text">Hospital Description</p>
      <p class="card-text"><small class="text-muted">Category</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.weymouthstreethospital.com/wp-content/uploads/sites/2/2019/05/room1-1024x683.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hospital Name</h5>
      <p class="card-text">Hospital Description</p>
      <p class="card-text"><small class="text-muted">Category</small></p>
    </div>
  </div>
</div>
