<head>

</head>

<body>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1477332552946-cfb384aeaf1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <h1>Find calm for your patient</h1>
  </div>
</div>
<div>
  <%= render "shared/searchbar" %>
  <div class="container">
    <p>Beds available in your area<p>
  </div>
  <%= render "shared/card" %>
</div>
</body>


