<div class="container d-block">
  <div class="pt-4 text-center">
    <h1><%= "#{@bed.id} - #{@bed.category}" %></h1>
  </div>
  <div class="pt-5 d-flex justify-content-center">
    <% if @bed.photo.attached? %>
      <%= cl_image_tag @bed.photo.key, width: 800, height: 500, crop: :fill, class:"shadow-sm rounded" %>
    <% end %>
  </div>
  <div class="p-3">
    <p class="font-weight-light p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi molestias sunt consequatur, animi, obcaecati ab similique expedita dolor magnam suscipit quo. Repudiandae sapiente quia quod dolores obcaecati corporis commodi harum!</p>
  </div>
</div>

<div class="booking-form pb-4">
  <%= render "shared/booking_form" %>
</div>
<%= render 'shared/footer' %>
