<div class="container">
  <h1><%= "#{@bed.id} - #{@bed.category}" %></h1>
    <div class="row">
      <div class="col-6">
        <div class="container">
          <img src="https://www.weymouthstreethospital.com/wp-content/uploads/sites/2/2019/05/room1-1024x683.jpg" width = 400px alt="bed picture">
        </div>
      </div>
      <div class="col-3">
        <div class="container">
          <img src="https://www.weymouthstreethospital.com/wp-content/uploads/sites/2/2019/05/room1-1024x683.jpg" width = 400px alt="bed picture">
        </div>
      </div>
    </div>
    <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi molestias sunt consequatur, animi, obcaecati ab similique expedita dolor magnam suscipit quo. Repudiandae sapiente quia quod dolores obcaecati corporis commodi harum!</p>
</div>

<%= render "shared/booking_form" %>
